
body {
    background: greenyellow;
    display: block;
    margin-top: 8px;
    text-align: center;
}

h1,
p {
  text-align: center;  
}

footer {
    text-align: center;
}

footer a {
    margin: 10px;
    color: blue;
}