:root {
    view-transition-name: root;
}

body {
    background: greenyellow;
    display: block;
    margin-top: 8px;
    text-align: center;
}

footer {
    text-align: centre;
    display: block;
}